@font-face {
    font-family: 'NorseBold';
    src: url('fonts/NorseBold.eot');
    src: url('fonts/NorseBold.woff2') format('woff2'), 
         url('fonts/NorseBold.woff') format('woff'),
	     url('fonts/NorseBold.eot') format('embedded-opentype'),
         url('fonts/NorseBold.ttf') format('truetype'),
         url('fonts/NorseBold.svg#NorseBold') format('svg');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display:flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

div.hero-image {
    height: clamp(400px, 100vh, 800px);
    width: clamp(400px, 20%, 800px);
    background: url('./images/background-image.jpg') center/cover;
    flex: none;
}

div.hero-image > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    top: 75%;
}

div.hero-image :link {
    color: white;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: max(100px, 20%);
    position: relative;
    top: 100px;
}

div.logo > img {
    width: max(80px, 20%);
    height: max(100px, 20%);
}

div.logo > p {
    color: white;
    text-align: center;
    font-family: 'NorseBold';
    font-size: clamp(1.5rem, 4rem, 80px);
    text-overflow: hidden;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    flex: 5;
}

div.summary-text {
    margin-left: 40px;
    font-weight: 700;
    text-wrap: wrap;
    width: 60%;
}

div.summary-text > p:last-child {
    margin-top: 20px;
}

div.signup-form {
    margin-top: 40px;  
}

div.signup-form > form {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.signup-form > form > p:first-child {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

input,
button,
label {
    font: inherit;
}

label {
    font-size: 0.65rem;
}

input {
    border-radius: 5px;
    font-size: 0.9rem;
}
input:empty:not(:invalid) {
    border: 2px solid #d6d9dc;
}
input:invalid {
    border: 2px solid #d55c5f;
}

.name,
.contact,
.password {
    display: flex;
    gap: 40px;
}

.form-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.signup-form > p,
div.signup-form > button {
    font-size: 0.8rem;
}
div.signup-form > p {
    margin-left: 40px;
}

div.signup-form > button {
    background-color: #596d48;
    color: white;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 40px;
    font-weight: 700;
    padding: 5px 40px;
}
div.signup-form > button:hover {
    cursor: pointer;
}

div.signup-form > p > :link {
    text-decoration: none;
    color: #596d48;
}