@font-face {
    font-family: 'NorseBold';
    src: url('fonts/NorseBold.eot');
    src: url('fonts/NorseBold.woff2') format('woff2'), 
         url('fonts/NorseBold.woff') format('woff'),
	     url('fonts/NorseBold.eot') format('embedded-opentype'),
         url('fonts/NorseBold.ttf') format('truetype'),
         url('fonts/NorseBold.svg#NorseBold') format('svg');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display:flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

div.hero-image {
    height: clamp(400px, 100vh, 800px);
    width: clamp(400px, 40%, 800px);
    background: url('./images/background-image.jpg') center/cover;
}

div.hero-image > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    top: 75%;
}

div.hero-image :link {
    color: white;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: max(100px, 20%);
    position: relative;
    top: 100px;
}

div.logo > img {
    width: max(80px, 20%);
    height: max(100px, 20%);
}

div.logo > p {
    color: white;
    text-align: center;
    font-family: 'NorseBold';
    font-size: clamp(1.5rem, 4rem, 80px);
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
